# Ignore everything

*

# Allow specific files

!.gitignore
!LICENSE
!README.md
!git_command.sh
!repo_list.txt


# Allow specific files in subdirectories

# !subdir/important_file.txt

# Exclude directories (prevent subdirectories from being included unless explicitly allowed)

*/
